<!-- 사용자 좌탭 메뉴 -->
<div data-role="panel" id="leftTabPanel" data-position="left" data-display="overlay" data-theme="a">
	<img class="logo" style="height:50%; width:50%;" src="../img/main/missbom.png">
	<!-- 회원가입, 로그인 버튼 -->
	<div style="text-align:center; padding-top:1%;">
		<a class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-btn-a ui-mini" href="join.html" style="width:27%;">JOIN</a>
		<a class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-alt-icon ui-mini" href="login.html" style="width:27%;">LOGIN</a>
	</div>
	<!-- 검색창 -->
	<div data-role="fieldcontain">
		<ul data-role="listview" data-inset="true" data-filter-placeholder="검색 상품명을 입력하시오" data-filter="true" style="width:80%;">
			<!--상품 리스트들 append로 나타내야함 -->
		</ul>
	</div>
	<!--카테고리 -->
	<div>
		<h4>CATEGORY</h4>
		<ul data-role="listview">
			<li><a onclick="">NEW</a></li>				
			<li><a onclick="">TOP</a></li>
			<li><a onclick="">BOTTOM</a></li>
			<li><a onclick="">DRESS</a></li>
			<li><a onclick="">Shoes & Bags</a></li>
			<li><a onclick="">나의 옷장</a></li>
			<li><a onclick="">언니에게 물어봐</a></li>
			<li><a onclick="">오늘 나 어때?</a></li>
		</ul>
	</div>
</div><!--사용자 좌탭 --> 
