<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div data-role="page">
	<div data-role="header" data-position="fixed" style="background-color:white; height:70px;">
		<a href="#menuPanel" style="height:80%;" 
		class="ui-btn-left ui-nodisc-icon ui-alt-icon ui-btn ui-btn-b ui-icon-bars ui-nodisc-icon ui-btn-icon-notext ui-btn-inline"></a>
		<img class="mainLogo" style="height:100%;" src="../img/main/missbom.png">
<!-- 		장바구니 아이콘 -->
		<a href="#" style="height:80%;" 
		class="ui-btn-right ui-nodisc-icon ui-alt-icon ui-btn ui-btn-b ui-icon-bars ui-nodisc-icon ui-btn-icon-notext ui-btn-inline"></a>
	</div><!-- /header(툴바의 형태) -->

	
	<div data-role="content">
	<!-- 여기서 디자인 및 구현 -->
	</div>
	
	<div data-role="footer">
		
	</div>
</div>	
</body>
</html>