<style>
#cart.ui-icon{
   background : url("img/main/cart.png"); !important;
/*    background-repeat : no-repeat !important; */
    /* Make your icon fit */
    background-size: 18px 18px;
}
</style>
<!-- 좌측 메뉴 탭 -->
<a href="#leftTabPanel" style="height: 80%;"
class="ui-btn-left ui-nodisc-icon ui-alt-icon ui-btn ui-btn-b ui-icon-bars ui-nodisc-icon ui-btn-icon-notext ui-btn-inline"></a>

<!-- 미스봄 로고 -->
<img class="mainLogo" style="height:100%;" src="../img/main/missbom.png">

<!--장바구니 아이콘 -->
<!-- <a href="#" style="height: 80%;" -->
<!-- class="ui-btn-right ui-nodisc-icon ui-alt-icon ui-btn ui-btn-b ui-icon-bars ui-nodisc-icon ui-btn-icon-notext ui-btn-inline"></a> -->

<a href="MyDressRoomVirtualCodi.html" id="cart" class="ui-btn-right ui-btn-inline"><img src="../img/codi/insertCloths.png" style="height: 50px; padding-top: 10%; padding-right:10%"></a>